<a
  href='http://api.whatsapp.com/send?phone=543585106415'
  target='_blank'
  class='wpp'
>
  <svg
    width='21'
    height='20'
    viewBox='0 0 21 20'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <path
      d='M5.51167 6.67178C5.60689 5.91867 6.58564 4.89512 7.3624 5.00869L7.36116 5.00745C8.11709 5.1511 8.71549 6.45217 9.05292 7.03721C9.292 7.46168 9.13675 7.89175 8.91375 8.07323C8.61292 8.31569 8.14249 8.65025 8.24119 8.98617C8.41667 9.58333 10.5 11.6667 11.5247 12.2589C11.9125 12.4831 12.1938 11.8918 12.4339 11.5889C12.6084 11.3559 13.0388 11.2167 13.4623 11.4467C14.0948 11.815 14.6907 12.2431 15.2417 12.725C15.5168 12.955 15.5814 13.2949 15.3908 13.6542C15.0549 14.2869 14.0836 15.1213 13.3785 14.9517C12.147 14.6557 7.16667 12.725 5.56694 7.13168C5.47698 6.86707 5.49963 6.76703 5.51167 6.67178Z'
      fill='#0E0D09'></path>
    <path
      fill-rule='evenodd'
      clip-rule='evenodd'
      d='M10.5 19.1667C9.48034 19.1667 8.91618 19.0573 8.00001 18.75L6.24537 19.6273C5.13719 20.1814 3.83334 19.3756 3.83334 18.1366V16.25C2.0388 14.5767 1.33334 12.6473 1.33334 10C1.33334 4.93739 5.4374 0.833336 10.5 0.833336C15.5626 0.833336 19.6667 4.93739 19.6667 10C19.6667 15.0626 15.5626 19.1667 10.5 19.1667ZM5.50001 15.5253L4.96997 15.031C3.57573 13.731 3.00001 12.2776 3.00001 10C3.00001 5.85787 6.35788 2.5 10.5 2.5C14.6422 2.5 18 5.85787 18 10C18 14.1422 14.6422 17.5 10.5 17.5C9.67859 17.5 9.29334 17.4258 8.52997 17.1698L7.87373 16.9498L5.50001 18.1366V15.5253Z'
      fill='#0E0D09'></path>
  </svg>
</a>

<style>
  .wpp {
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 1rem;
    position: fixed;
    z-index: 999;
    background-color: #25d366;
    /* background: linear-gradient(to right, #25d366, #16a84c); */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  .wpp:hover {
    background-color: #128c7e;
    /* background: linear-gradient(to right, #128c7e, #128c7e); */
  }
  .wpp svg {
    width: 40px;
    height: 40px;
  }
  .wpp svg path {
    fill: var(--white-color);
  }
</style>
