<section id="services" class="services container">
  <h2 class="services-title">Servicios</h2>
  <ul class="service-ul">
    <li>
      <p>
        <span class="service-title">Programación Web:</span> Desarrollo sitios y
        aplicaciones para plataformas Web. Te ayudo a construir tu proyecto de
        principio a fin.
      </p>
    </li>
    <li>
      <p>
        <span class="service-title">Diseño Web:</span> Prototipo y maqueto tus
        diseños estáticos y los convierto en increíbles sitios y aplicaciones web
        responsivas, óptimas y accesibles.
      </p>
    </li>
    <li>
      <p>
        <span class="service-title">WPO:</span> Web Performance Optimization, hago
        que tus sitios y aplicaciones web mejoren su tiempo de carga y respuesta.
      </p>
    </li>
    <li>
      <p>
        <span class="service-title">SEO:</span> Search Engine Optimization,
        optimizo tus sitios y aplicaciones web para que mejoren su posición en los
        buscadores orgánicamente.
      </p>
    </li>
    <li>
      <p>
        <span class="service-title">Web Hosting:</span> ¿No cuentas con dominio y
        hospedaje web para tu proyecto? No te preocupes de esas cosas técnicas me
        encargo yo.
      </p>
    </li>
  </ul>
</section>


<style>

.services{
  margin: 4rem auto;
}

.service-ul{
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .service-title{
    color: var(--white-color);
    font-weight: 500;
    border-bottom: 1px solid var(--second-color);
    transition: all .8s linear;
  }

  html.light .service-title{
    color: var(--text-color-2);
    border-bottom: 2px solid var(--second-color-2);
  }
</style>